{%extends "inicio/menu.html" %}
<html>
    <head>

    </head>
    <body>
        {% block content %}
                <h2> </h2>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                     <input class="btn btn-primary" type='submit' value='Buscar' />
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Contacto</th>
                            <th>Articulos</th>
                            <th>Vendedor</th>

                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for con in contact %}
                            <tr>
                                <td>cd  {{ con.Objetivo }}     </td>
                                <td> {{ con.Articulo }}     </td>
                                <td> {{ con.Vendedor }}     </td>
                                <td><a href="{% url 'target_contact:modificar_contacto' con.id %}">
                                    <span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td>




                                    <a href="{% url 'target_contact:eliminar_contacto' con.id%}"
                                       onClick="return confirm('Desea eliminar el Contacto: con.id?')">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <div class="pagination" >
                    <span class="step-links">
                        {% if contact.has_previous %}
                            <a href="?page={{ contact.previous_page_number }}">Anterior</a>
                        {% endif %}

                        <span class="current">
                            Page {{ contact.number }} of {{ contact.paginator.num_pages }}.
                        </span>

                        {% if contact.has_next %}
                            <a href="?page={{ art.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </span>
                </div>


                {% endblock %}

                {% block sidebar %}
                    <a href="{%url 'target_contact:crear_contacto'%}"><center><button type="button" class="btn btn-default">Nuevo</button></center></a><br><br>
                    <a href="{%url 'target_contact:listar_contacto'%}"><center><button type="button" class="btn btn-default">Reporte</button></center></a><br><br>

                {% endblock %}


    </body>

</html>