<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
				        <a class="navbar-brand" href="{% url 'target_contact:crear_contacto' %}">TeleMarketing</a>
			        </div>
                    <div class="pull-right">
				        <li class="dropdown"><a class="navbar-brand" data-toggle="dropdown" href="#" >Sistema <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><br></li>
                                <li ><a href="{% url 'usuarios:listar_usuarios' %}">Usuarios</a>           </li>
                                <li ><a href="{% url 'auditoria:listar_auditoria' %}">Historial</a>           </li>
                                <li><a href="{%url 'rol:listar_roles'%}">Roles</a></li>
                                <li><a href="{% url 'inicio:salir' %}">Logout</a></li>
                            </ul>
                        </li>

			        </div>

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'inicio:home' %}">Home</a></li>
                        <li><a href="{% url 'articulo:listar_articulos' %}">Articulos</a></li>
                        <li><a href="{%url 'vendedor:listar_vendedores'%}">Vendedores</a></li>
                        <li><a  href="{%url 'supervisor:listar_supervisores'%}">Supervisores</a></li>
                        <li><a href="{%url 'target:listar_targets'%}">Target</a></li>

                        <li><a href="{%url 'campanha:listar_campanhas'%}">Campañas</a></li>



                    </ul>
                </div>
            </nav>

        </div>
        <div class="row">
            <div class="col-md-1">
                <div id="sidebar"><center><h5>{% block sidebar %}{% endblock %}</h5></center></div>
            </div>

            <div class="col-md-9">
                    <div id="content">{% block content %}{% endblock %}</div>

            </div>
        </div>
    </body>
</html>




