<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <style>
               @media (min-width: 768px) {
              .sidebar-nav .navbar .navbar-collapse {
                padding: 0;
                max-height: none;
              }
              .sidebar-nav .navbar ul {
                float: none;
              }
              .sidebar-nav .navbar ul:not {
                display: block;
              }
              .sidebar-nav .navbar li {
                float: none;
                display: block;
              }
              .sidebar-nav .navbar li a {
                padding-top: 12px;
                padding-bottom: 12px;
              }
}

            </style>


    </head>
    <body>
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
				        <a class="navbar-brand" href="{% url 'target_contact:crear_contacto' %}">TeleMarketing</a>
			        </div>
                    <div class="pull-right">
				        <li class="dropdown"><a class="navbar-brand" data-toggle="dropdown" href="#" >Sistema <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><br></li>
                                <li ><a href="{% url 'usuarios:listar_usuarios' %}">Usuarios</a>           </li>
                                <li ><a href="{% url 'auditoria:listar_auditoria' %}">Historial</a>           </li>
                                <li><a href="{%url 'rol:listar_roles'%}">Roles</a></li>
                                <li><a href="{% url 'inicio:salir' %}">Logout</a></li>
                            </ul>
                        </li>

			        </div>

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'inicio:home' %}">Home</a></li>
                        <li><a href="{% url 'articulo:listar_articulos' %}">Articulos</a></li>
                        <li><a href="{%url 'vendedor:listar_vendedores'%}">Vendedores</a></li>
                        <li><a  href="{%url 'supervisor:listar_supervisores'%}">Supervisores</a></li>
                        <li><a href="{%url 'target:listar_targets'%}">Target</a></li>
                        <li><a href="{%url 'campanha:listar_campanhas'%}">Campañas</a></li>
                        <li><a href="{%url  'ventas:gestion_de_ventas'%}">Gestion de Ventas</a></li>




                    </ul>
                </div>
            </nav>

        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="sidebar-nav">
                      <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                          <ul class="nav navbar-nav">
                            <center>{% block sidebar %}{% endblock %}</center>
                          </ul>
                            </div><!--/.nav-collapse -->
                          </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-9">
                    <div id="content">{% block content %}{% endblock %}</div>

            </div>
        </div>
    </body>
</html>




