<html>
    <head>
                <title>Ventas</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
            <div class="row">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'target_contact:crear_contacto' %}">TeleMarketing</a>
                        </div>
                        <div class="pull-right">
                            <li class="dropdown"><a class="navbar-brand" data-toggle="dropdown" href="#" >Sistema <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><br></li>
                                    <li ><a href="{% url 'usuarios:listar_usuarios' %}">Usuarios</a>           </li>
                                    <li ><a href="{% url 'auditoria:listar_auditoria' %}">Historial</a>           </li>
                                    <li><a href="{%url 'rol:listar_roles'%}">Roles</a></li>
                                    <li><a href="{% url 'inicio:salir' %}">Logout</a></li>
                                </ul>
                            </li>

                        </div>

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'inicio:home' %}">Home</a></li>
                            <li><a href="{% url 'articulo:listar_articulos' %}">Articulos</a></li>
                            <li><a href="{%url 'vendedor:listar_vendedores'%}">Vendedores</a></li>
                            <li><a href="{%url 'supervisor:listar_supervisores'%}">Supervisores</a></li>
                            <li><a href="{%url 'target:listar_targets'%}">Target</a></li>
                            <li><a href="{%url 'campanha:listar_campanhas'%}">Campañas</a></li>
                            <li><a href="{%url  'ventas:gestion_de_ventas'%}">Gestion de Ventas</a></li>
                        </ul>
                    </div>
                </nav>


<div class="jumbotron text-center">
  <h1>Gestion de Ventas</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Campanhas</h3>
         {% for cam in listaCam %}
                    <td> {{ cam.nombreCampanha }}<br><br> </td>
           {% endfor %}
        <div class="pagination" >
                    <span class="step-links">
                        {% if listaCam.has_previous %}
                            <a href="?page={{ listaCam.previous_page_number }}"><--</a>
                        {% endif %}

                        <span class="current">
                            Page {{ listaCam.number }} of {{ listaCam.paginator.num_pages }}.
                        </span>

                        {% if listaCam.has_next %}
                            <a href="?page={{ listaCam.next_page_number }}">--></a>
                        {% endif %}
                    </span>
                </div>
      <p><a href="{% url 'campanha:listar_campanhas' %}"></a></p>
    </div>
    <div class="col-sm-4">
      <h3>Contacto</h3>

    </div>
    <div class="col-sm-4">
      <h3>Targets</h3>
                {% for target in Tg %}
                        <td> {{ target.nombreTarget  }} <br><br>  </td>
                {% endfor %}
         <div class="pagination" >
                    <span class="step-links">
                        {% if Tg.has_previous %}
                            <a href="?page1={{ Tg.previous_page_number }}"><--</a>
                        {% endif %}

                        <span class="current">
                            Page {{ Tg.number }} of {{ Tg.paginator.num_pages }}.
                        </span>

                        {% if Tg.has_next %}
                            <a href="?page1={{ Tg.next_page_number }}">--></a>
                        {% endif %}
                    </span>
                </div>
    </div>
  </div>
</div>
</div>
</body>
</html>

