<html>
    <head>
                <title>Campanhas</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
            <div class="row">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'target_contact:crear_contacto' %}">TeleMarketing</a>
                        </div>
                        <div class="pull-right">
                            <li class="dropdown"><a class="navbar-brand" data-toggle="dropdown" href="#" >Sistema <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><br></li>
                                    <li ><a href="{% url 'usuarios:listar_usuarios' %}">Usuarios</a>           </li>
                                    <li ><a href="{% url 'auditoria:listar_auditoria' %}">Historial</a>           </li>
                                    <li><a href="{%url 'rol:listar_roles'%}">Roles</a></li>
                                    <li><a href="{% url 'inicio:salir' %}">Logout</a></li>
                                </ul>
                            </li>

                        </div>

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'inicio:home' %}">Home</a></li>
                            <li><a href="{% url 'articulo:listar_articulos' %}">Articulos</a></li>
                            <li><a href="{%url 'vendedor:listar_vendedores'%}">Vendedores</a></li>
                            <li><a href="{%url 'supervisor:listar_supervisores'%}">Supervisores</a></li>
                            <li><a href="{%url 'target:listar_targets'%}">Target</a></li>

                            <li><a href="{%url 'campanha:listar_campanhas'%}">Campañas</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="col-md-1">
                    <a href="{%url 'campanha:crear_campanha'%}"><center><button type="button" class="btn btn-default">Nuevo</button></center></a><br><br>
                    <a href="{%url 'campanha:listar_campanhas'%}"><center><button type="button" class="btn btn-default">Reporte</button></center></a><br><br>
                </div>

                <div class="col-md-9">
                    <h2>Campanhas</h2>

                    <table id="datos" class="table table-hover">
                        <thead>
                                <tr><th>Nombre de la Camapanha</th>          <td> {{ cam.nombreCampanha }} </td></tr>
                                <tr><th>Descripcion</th>                        <td>{{ cam.descripcionCampanha}} </td></tr>
                                <tr><th>Fecha de Inicio</th>                    <td>{{ cam.fecha_inicio_Campanha}} </td></tr>
                                <tr><th>Fecha de Finalizacion</th>              <td>{{ cam.fecha_fin_Campanha}} </td></tr>
                                <tr><th>Vendedores</th><td>&#160;</td></tr>
                                {% for tgt in cam.vende.all %}
                                    <tr>
                                        <td></td>
                                        <td>{{ tgt }}</td>
                                    </tr>
                               {% endfor %}
                                <tr><th>Articulos</th><td>&#160;</td></tr>
                                {% for tgt in cam.arti.all %}
                                    <tr>
                                        <td></td>
                                        <td>{{ tgt }}</td>
                                    </tr>
                               {% endfor %}


                        </thead>

                        </thead>
                    </table>






                </div>
            </div>
    </body>


</html>