{% extends "inicio/menu.html" %}
<html>
    <head>
        <title>Artículos Disponibles</title>
    </head>

    <body>
        {% block content %}
                <h2>Campañas </h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Articulos</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cam in cam %}
                            <tr>
                                <td> {{ cam.nombreCampanha }}     </td>
                                <td> {{ cam.arti }}  </td>
                                <td><a href="{% url 'campanha:modificar_campanha' cam.id %}">
                                    <span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td>




                                    <a href="{% url 'campanha:eliminar_campanha' cam.id%}"
                                       onClick="return confirm('Desea eliminar la campanha: cam.nombreCampanha?')">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
        {% endblock %}

        {% block sidebar %}
            <a href="{%url 'campanha:crear_campanha'%}"> Nuevo </a><br><br>
            <a href="{%url 'campanha:listar_campanhas'%}"> Reporte </a><br><br>

        {% endblock %}


    </body>

</html>