{% extends "inicio/menu.html" %}
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Modificar Supervisores</title>
    </head>

    <body>

        {% block content %}
                <h2>Modificar Supervisores</h2>
                <form action="{% url 'supervisor:modificar_supervisores' supervisor_id %}" method="post" class="form">
						{% load bootstrap3 %} {% csrf_token %} {% bootstrap_form form %}
                    <input class="btn btn-primary" type='submit' value='Modificar' />
                </form>
        {% endblock %}

        {% block sidebar %}
            <a href="{%url 'supervisor:crear_supervisores'%}"><center><button type="button" class="btn btn-default">Nuevo</button></center></a><br>
            <a href="{%url 'supervisor:listar_supervisores'%}"><center><button type="button" class="btn btn-default">Reporte</button></center></a>

        {% endblock %}


    </body>

</html>