{% extends "inicio/menu.html" %}
<html>
    <head>
        <title>Vendedores</title>
    </head>

    <body>
        {% block content %}
                <h2>Vendedores</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Supervisor</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vend in vende %}
                            <tr>
                                <td> {{ vend.nombreVendedor }}     </td>
                                <td> {{vend.vendedor_supervisor  }}  </td>
                                <td><a href="{% url 'vendedor:modificar_vendedor' vend.id %}">
                                    <span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td>



                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
        {% endblock %}

        {% block sidebar %}
            <a href="{%url 'vendedor:crear_vendedores'%}"> Nuevo Vendedor</a><br><br>
            <a href="{%url 'vendedor:listar_vendedores'%}"> Reporte de Vendedores </a><br><br>

        {% endblock %}


    </body>



</body>
</html>