{% extends "inicio/menu.html" %}
<html>
    <head>
        <title>Historial</title>
    </head>

    <body>
        {% block content %}
            <h2>Historial </h2>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                     <input class="btn btn-primary" type='submit' value='Buscar' />
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Descripción</th>
                            <th>Tipo de Acceso</th>
                            <th>Parametros</th>
                            <th>IP</th>

                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td> Pancho Villa </td>
                                <td> Ofrece Hot Dogs    </td>
                                <td> localhost    </td>
                                <td> Vendio Hot dogs    </td>
                                <td> 127.0.0.1




                            </tr>


                    </tbody>
                </table>

        {% endblock %}

        {% block sidebar %}
            <a href="{%url 'inicio:home'%}">Inicio</a><br><br>
            <a href="{% url 'inicio:salir' %}">Salir</a><br><br>

        {% endblock %}


    </body>

</html>


