{% extends "inicio/menu.html" %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>

</head>
<body>

    {% block content %}
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                     <input class="btn btn-primary" type='submit' value='Buscar' />
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><b>Usuario</b></th>
                            <th><b>Nombres</b></th>
                            <th><b>Apellidos</b></th>
					        <th><b>E-mail</b></th>
                            <th><b>Modificar</b></th>
					        <th><b>Eliminar</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in lista_usuarios %}
				            <tr>
					            <td>{{user.username}}</td>
					            <td>{{user.first_name}}</td>
					            <td>{{user.last_name}}</td>
					            <td>{{user.email}}</td>

                                <td><a href="{% url 'usuarios:modificar_usuarios' user.id %}"><span
							    class="glyphicon glyphicon-pencil"></span></a></td>

                                <td><a href="{% url 'usuarios:eliminar_usuario' user.id %}"
						        onClick="return confirm('Desea eliminar el usuario: {{user.username}}?')"><span
							    class="glyphicon glyphicon-remove"></span></a></td>



				            </tr>
				        {% endfor %}

                    </tbody>
                </table>
    {% endblock %}

    {% block sidebar %}
            <a href="{%url 'usuarios:crear_usuarios'%}">Nuevo</a><br><br>



    {% endblock %}

</body>
</html>