{% extends "inicio/menu.html" %}
<html>
    <head>
        <title>Artículos Disponibles</title>
    </head>

    <body>
        {% block content %}
                <h2>Artículos Disponibles </h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for arti in art %}
                            <tr>
                                <td> {{ arti.nombreArticulo }}     </td>
                                <td> {{arti.descripcionArticulo  }} </td>
                                <td><a href="{% url 'articulo:modificar_articulo' arti.id %}">
                                    <span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td>


                                    <a href="{% url 'eliminar_articulo' arti.id %}"
                                       onClick="return confirm('Desea eliminar el articulo: arti.nombreArticulo?')">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
        {% endblock %}

        {% block sidebar %}
            <a href="{%url 'articulo:crear_articulos'%}"> Nuevo </a><br><br>
            <a href="{%url 'articulo:listar_articulos'%}"> Reporte </a><br><br>

        {% endblock %}


    </body>

</html>