{% extends "inicio/menu.html" %}
<html>
    <head>
        <title>Artículos Disponibles</title>
    </head>

    <body>
        {% block content %}
                <h2>Artículos </h2>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                     <input class="btn btn-primary" type='submit' value='Buscar' />
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for arti in art %}
                            <tr>
                                <td> {{ arti.nombreArticulo }}     </td>
                                <td><a href="{% url 'articulo:modificar_articulos' arti.id %}">
                                    <span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td>




                                    <a href="{% url 'articulo:eliminar_articulos' arti.id%}"
                                       onClick="return confirm('Desea eliminar el articulo: arti.nombreArticulo?')">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
        {% endblock %}

        {% block sidebar %}
            <a href="{%url 'articulo:crear_articulos'%}">Nuevo</a><br><br>
            <a href="{%url 'articulo:listar_articulos'%}">Reporte</a><br><br>

        {% endblock %}


    </body>

</html>