{% extends "inicio/menu.html" %}
<html>
    <head>
        <title>Artículos Disponibles</title>
    </head>

    <body>
        {% block content %}

                <h2>Artículos Disponibles </h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for arti in art %}
                            <tr>
                                <td> {{ arti.nombreArticulo }}     </td>
                                <td>    {{arti.descripcionArticulo  }} </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
        {% endblock %}

    </body>

</html>