{% extends "inicio/menu.html" %}
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Modificar Articulos</title>
    </head>

    <body>






        {% block content %}
                <h2>Modificar Articulos Disponibles </h2>
                <form action="{% url 'articulo:modificar_articulo' articulo_id %}" method="post">
						{% load bootstrap3 %} {% csrf_token %}
                    <input class="btn btn-primary" type='submit' value='Modificar Articulo' />
                </form>
        {% endblock %}

        {% block sidebar %}
            <a href="{%url 'articulo:crear_articulos'%}"> Nuevo </a><br><br>
            <a href="{%url 'articulo:listar_articulos'%}"> Reporte </a><br><br>
            <a href="{%url 'articulo:listar_articulos'%}"> Eliminar </a><br><br>
        {% endblock %}


    </body>

</html>