{% extends "inicio/menu.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}

                <h2>Roles </h2>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                     <input class="btn btn-primary" type='submit' value='Buscar' />
                </form>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
				{% for rol in lista_roles %}
				<tr>
                                <td> {{ rol.name }}     </td>
                                    <td><a href="{% url 'rol:modificar_rol' rol.id %}">
                                    <span class="glyphicon glyphicon-pencil"></span></a></td>
                                <td>

                                    <a href="{% url 'rol:eliminar_rol' rol.id%}"
                                       onClick="return confirm('Desea eliminar el rol: rol.name?')">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
				{% endfor %}
			</table>

{% endblock %}
{% block sidebar %}
    <a href="{%url 'rol:crear_rol'%}">Nuevo</a><br><br>
    <a href="{%url 'rol:listar_roles'%}">Reporte</a>


{% endblock %}



		</div>

</body>
</html>