{% extends "inicio/menu.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
                <h2>Modificar Rol</h2>
                <form action="{% url 'rol:modificar_rol' rol_id %}" method="post" class="form">
						{% load bootstrap3 %} {% csrf_token %} {% bootstrap_form form %}
                    <input class="btn btn-primary" type='submit' value='Modificar' />
                </form>
        {% endblock %}

        {% block sidebar %}
            <a href="{%url 'rol:crear_rol'%}"> Nuevo </a><br><br>
            <a href="{%url 'rol:listar_roles'%}"> Reporte </a><br><br>

        {% endblock %}

</body>
</html>